Create & Publish Instagram Carousel Posts with GPT-4.1-mini, Imgur & Graph API.json
{
  "name": "Create & Publish Instagram Carousel Posts with GPT-4.1-mini, Imgur & Graph API",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Accedemos al campo \"output\" que contiene un string JSON anidado\nlet rawText = $json.output;\n\nif (!rawText || typeof rawText !== 'string' || rawText.trim() === '') {\n    throw new Error(\"Error Crítico: No se recibió texto válido (string no vacío) en el campo 'output'.\");\n}\n\n// Limpiar delimitadores tipo ```json y ```\nrawText = rawText.trim();\nrawText = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\n\n// Envolver en llaves si no las tiene\nif (!rawText.startsWith('{')) {\n    rawText = '{' + rawText;\n}\nif (!rawText.endsWith('}')) {\n    rawText = rawText + '}';\n}\n\n// Truncar por si hay texto basura después del cierre\nconst lastBrace = rawText.lastIndexOf(\"}\");\nif (lastBrace !== -1) {\n    rawText = rawText.slice(0, lastBrace + 1).trim();\n}\n\nconsole.log(\"Texto limpio para parsear (Inicial):\", rawText);\n\ntry {\n    const parsed = JSON.parse(rawText);\n\n    if (typeof parsed !== 'object' || parsed === null) {\n        throw new Error(\"El texto parseado no es un objeto JSON válido.\");\n    }\n\n    return { json: parsed };\n} catch (error) {\n    console.error(\"Error al parsear JSON:\", error.message);\n    console.error(\"Texto recibido:\", rawText);\n    throw new Error(`Error al parsear el campo 'output': ${error.message}`);\n}\n"
      },
      "id": "f1e47fca-653b-4d59-a06b-138e0f66847b",
      "name": "Parsear JSON Inicial",
      "type": "n8n-nodes-base.code",
      "position": [
        2336,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt para geração de publicação em carrossel no Instagram\n\n## Configuração de contexto\nTema da Publicação: \"{{ $json.tema }}\"\n\nAntes de iniciar a criação, conecte-se ao banco de dados Supabase (PostgreSQL) utilizando as variáveis de ambiente SUPABASE_URL e SUPABASE_KEY. Na tabela `publicacoes` (schema `public`), consulte registros existentes com o mesmo tema ou palavras-chave similares nas colunas `titulo_slide` e `copy_principal`. Garanta que o novo conteúdo seja único, evitando repetir fala, exemplos ou chamadas já publicados.\n\n## Objetivo Principal\nEducar, atrair e converter seguidores em clientes e alunos, mostrando de forma clara os benefícios e possibilidades da automação com n8n e inteligência artificial.\n\n## Estilo e Tom\n- Tom profissional, direto e didático, com autoridade técnica.\n- Varie entre:\n  1. Mini histórias de transformação\n  2. Listas práticas (“3 formas de automatizar seu atendimento com n8n”)\n  3. Erros comuns e como evitá-los\n  4. Estudos de caso (“Como ajudamos um cliente a economizar 15h por semana”)\n  5. Argumentos racionais para adoção de IA e automação\n- Sempre inclua menção sutil de que oferecemos serviços, suporte ou cursos para implementação.\n\n## Instruções de Formato\nSua resposta DEVE ser única e exclusivamente um **objeto JSON** válido, com as chaves exatas:\n- `\"titulo_slide\"`: título impactante para o primeiro slide, gerando curiosidade ou identificando uma dor.\n- `\"copy_principal\"`: texto principal da publicação, prático e inspirador, com frases curtas, emojis e quebras de linha.\n- `\"idea_imagem\"`: descrição detalhada de uma imagem profissional que ilustre o tema, com estilo gráfico, cores, composição e emoção.\n- `\"hashtags\"`: string contendo hashtags específicas (#AutomacaoComIA, #n8nBrasil, etc.).\n- `\"cta\"`: escolha **aleatória** de uma das seguintes frases:\n  1. \"Quer automatizar seu negócio com n8n? Envie uma DM com a palavra AUTOMATIZAR 📩\"\n  2. \"Pronto para dominar o n8n? Acesse nosso curso completo e comece hoje mesmo!\"\n  3. \"Transforme seu tempo em lucro com automações inteligentes. Agende uma consultoria!\"\n  4. \"Te ajudo a criar fluxos personalizados com IA – fale comigo!\"\n  5. \"Clique no link da bio e aprenda a criar sua primeira automação com IA em minutos.\"\n  6. \"Salve esta publicação e use como referência para seu próximo projeto automatizado.\"\n\n**Não** inclua nenhum outro texto, comentário ou marcações antes ou depois do JSON.  \nCertifique-se de que o JSON seja perfeitamente válido para parsing direto.  \n",
        "options": {
          "systemMessage": "=Atue como um especialista em marketing digital voltado para serviços técnicos e educacionais de automação com inteligência artificial. Você representa um perfil profissional no Instagram que oferece:\n\nIMPORTANTE:\nAntes de gerar a publicação, consulte o histórico de conteúdos . Evite repetir ideias, abordagens ou estruturas já utilizadas. Com base no histórico, ofereça uma nova perspectiva ou destaque uma situação de aplicação diferente da automação.\n- Configuração e manutenção de automações com n8n\n- Criação de fluxos personalizados com IA\n- Cursos, workshops e mentorias sobre automação para criadores, empreendedores e empresas\n- Suporte e consultoria estratégica em automações\n\n\nSeu papel é criar publicações com alto valor percebido, voltadas a atrair clientes e alunos para esses serviços."
        }
      },
      "id": "903b082a-5e2f-4a1c-9e74-5162e77f10cb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1552,
        480
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "f4932df2-7556-498f-aa41-bf5f3b458ddd",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        496,
        960
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "7c8b0e72-446a-499e-8bd8-9893fb94cda9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        496,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "77629d55-a262-43cb-86b2-fdf0d65358ff",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1408,
        816
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ooxRzq0fQ3SJ1r3v",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": "query"
      },
      "id": "3e13bddc-0c22-47d8-8235-584f877d8b57",
      "name": "Simple Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        1936,
        1152
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "id": "5c5ffa30-e0d4-4e6b-8ed1-3f5875a33947",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1792,
        1296
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ooxRzq0fQ3SJ1r3v",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.tema }}",
        "contextWindowLength": 20
      },
      "id": "f7527187-9d94-486f-8eaa-029be5af317a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1600,
        784
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## trigger temporal\n** configurar a frecuencia das postagens\n",
        "height": 460,
        "width": 340
      },
      "id": "4ea63367-8e23-46ee-a443-b167747bb572",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## trugger manual\n",
        "height": 460,
        "width": 340,
        "color": 4
      },
      "id": "03d9f4d5-e99c-4dba-93f2-b3fe87069971",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## temas aleatorios pra o AGENTE\n\n",
        "height": 460,
        "width": 340,
        "color": 5
      },
      "id": "c302a692-6806-4594-ab90-f98e28c3b461",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## agente conectado a base de dados vectorial pra busca semantica\n\n",
        "height": 1040,
        "width": 780,
        "color": 5
      },
      "id": "baeee912-92aa-4778-b838-6c5efaf7c8f2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## parsea os dados do JSON",
        "height": 480,
        "width": 360
      },
      "id": "1532dc09-b606-413d-944f-03382550fb89",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Guarda em SHEETS uma lista das publicacoes\n",
        "height": 480,
        "width": 360,
        "color": 3
      },
      "id": "fd03c333-ba37-4948-bb83-1a78da37bff8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2624,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Gera imagen com OPENAI\n",
        "height": 480,
        "width": 360,
        "color": 5
      },
      "id": "14dc5a32-4dc9-4a6a-b6de-9cbebeb37422",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2992,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## SUBE IMAGEM PRA SERVIDOR  URL\n\n",
        "height": 480,
        "width": 360,
        "color": 5
      },
      "id": "b1fcce30-d3c4-492c-935e-9582e4fde8b8",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3504,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## container e postagem instagram\n\n\n",
        "height": 480,
        "width": 600,
        "color": 5
      },
      "id": "88aa6dee-4760-4e71-a18a-c92decea1184",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "publicacoes antigas, pra nao repetir"
      },
      "id": "b76edd69-654e-4e29-9eb2-687e88852079",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1984,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "id": "4ff9e0f1-a96a-4a8c-bd40-801c21744959",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        2224,
        1040
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "txJhCTstN8rchgKa",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "publicacoes",
        "toolDescription": "guarda as publicacoes ",
        "memoryKey": "query"
      },
      "id": "501b9e3f-c6a6-41a2-825b-998e08437f31",
      "name": "Simple Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        1760,
        1040
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// Defina seus vetores de segmentos\nconst inicios = [\n  \"Automatize\", \"Otimize\", \"Domine\", \"Descubra\", \"Implemente\", \"Transforme\",\n  \"Acelere\", \"Descomplique\", \"Agilize\", \"Estruture\", \"Crie\", \"Simplifique\",\n  \"Configure\", \"Mantenha\", \"Integre\", \"Escale\", \"Controle\", \"Inove\",\n  \"Aplique\", \"Explore\"\n];\n\nconst focos = [\n  \"seus processos com n8n\", \"rotinas com inteligência artificial\",\n  \"tarefas manuais com automações\", \"vendas com fluxos inteligentes\",\n  \"suporte técnico automatizado\", \"consultorias com IA\",\n  \"atendimentos com bots no n8n\", \"funis de marketing com automações\",\n  \"conteúdo com geração automática\", \"operações internas com fluxos visuais\",\n  \"suas integrações com ferramentas no-code\",\n  \"toda sua operação digital com automações\",\n  \"respostas rápidas com fluxos n8n\",\n  \"suas planilhas com IA conectada\",\n  \"o envio de e-mails com regras inteligentes\",\n  \"clientes com jornadas personalizadas\",\n  \"mensagens automáticas e criativas\",\n  \"estratégias de vendas com automações\",\n  \"CRM com fluxos automáticos\",\n  \"sistemas personalizados usando IA\"\n];\n\nconst beneficios = [\n  \"para escalar seu negócio digital\", \"para ganhar tempo todos os dias\",\n  \"para vender mesmo enquanto dorme\", \"para eliminar tarefas repetitivas\",\n  \"para crescer com inteligência\", \"para ter mais foco no que importa\",\n  \"para conquistar mais clientes\", \"para automatizar seu funil de vendas\",\n  \"para oferecer suporte sem perder tempo\",\n  \"para ensinar seus alunos com menos esforço\",\n  \"para transformar seu conteúdo em lucro\",\n  \"para turbinar sua rotina de forma prática\",\n  \"para trabalhar menos e faturar mais\",\n  \"para ter um sistema funcionando por você\",\n  \"para gerenciar sua empresa com automações inteligentes\",\n  \"para aplicar IA na sua estratégia de negócios\",\n  \"para deixar a tecnologia trabalhar para você\",\n  \"para ter controle e autonomia sobre seus fluxos\",\n  \"para criar sistemas poderosos sem programar\",\n  \"para aplicar IA na vida real\"\n];\n\n// Cria um array de formatos usando template literals (backticks)\nconst formatos = [\n  `${inicios[Math.floor(Math.random() * inicios.length)]} ${focos[Math.floor(Math.random() * focos.length)]} ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`,\n  `⚙️ ${inicios[Math.floor(Math.random() * inicios.length)]} agora ${focos[Math.floor(Math.random() * focos.length)]} e veja ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`,\n  `🚀 Como ${focos[Math.floor(Math.random() * focos.length)]} pode ajudar você ${beneficios[Math.floor(Math.random() * beneficios.length)]}?`,\n  `🔧 Você já pensou em ${focos[Math.floor(Math.random() * focos.length)]} ${beneficios[Math.floor(Math.random() * beneficios.length)]}?`,\n  `💡 O segredo de quem escala rápido: ${inicios[Math.floor(Math.random() * inicios.length)]} ${focos[Math.floor(Math.random() * focos.length)]} ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`,\n  `📊 Automatização na prática: ${focos[Math.floor(Math.random() * focos.length)]} — ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`,\n  `🧠 IA + n8n: Descubra como ${focos[Math.floor(Math.random() * focos.length)]} pode ser aplicado ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`,\n  `⏳ Chega de perder tempo: ${inicios[Math.floor(Math.random() * inicios.length)]} ${focos[Math.floor(Math.random() * focos.length)]}.`,\n  `📚 Aprenda a ${inicios[Math.floor(Math.random() * inicios.length)].toLowerCase()} ${focos[Math.floor(Math.random() * focos.length)]} e aplique ${beneficios[Math.floor(Math.random() * beneficios.length)]}.`\n];\n\n// Escolhe um formato aleatório\nconst tema = formatos[Math.floor(Math.random() * formatos.length)];\n\n// Retorna um único item — este formato funciona no Code Node do n8n\nreturn [\n  {\n    json: {\n      tema,\n      data: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "id": "03b9f2fb-519a-4f50-b99d-fa5a992ec0d1",
      "name": "generate search term",
      "type": "n8n-nodes-base.code",
      "position": [
        1008,
        624
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "ba5590b1-c248-42a1-8a15-db410784b7d2",
      "name": "save in sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2752,
        480
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgur.com/3/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "yourtoken here"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "f99b58f7-a911-4ee8-a0ad-34402d050645",
      "name": "upload image to imgur",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3616,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://graph.instagram.com/v22.0/{accountID}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "{yourtoken}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.data.link }}"
            },
            {
              "name": "caption",
              "value": "={{ $('save in sheets').item.json.titulo_slide + \"\\n\\n\" + $('save in sheets').item.json.copy_principal + \"\\n\\n\" + $('save in sheets').item.json.cta + \"\\n\\n\" + $('save in sheets').item.json.hashtags }}\n\n"
            }
          ]
        },
        "options": {}
      },
      "id": "df5f00dc-094e-44f8-b3f8-f864207508d5",
      "name": "create container",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4000,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v22.0/{account_ID}/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "Yourtoken"
            }
          ]
        },
        "options": {}
      },
      "id": "dedd3f0b-0800-4ea4-a254-87698dfc300e",
      "name": "POst to instagram",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4224,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $('Parsear JSON Inicial').item.json.idea_imagem }} en formato jpg",
        "options": {}
      },
      "id": "5aabc5db-2364-44ce-8c2e-c4b1f7de1c01",
      "name": "generate image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3104,
        480
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "ooxRzq0fQ3SJ1r3v",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parsear JSON Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "generate image": {
      "main": [
        [
          {
            "node": "upload image to imgur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save in sheets": {
      "main": [
        [
          {
            "node": "generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "generate search term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create container": {
      "main": [
        [
          {
            "node": "POst to instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON Inicial": {
      "main": [
        [
          {
            "node": "save in sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "generate search term": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "upload image to imgur": {
      "main": [
        [
          {
            "node": "create container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "generate search term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "16917279-a5e8-40be-869a-576bc0bba403",
  "meta": {
    "templateId": "3693",
    "instanceId": "6b1fa284bdbe882c45a56eb93d26a55296a0595f7dfd2c68518a56c7cdbb18b3"
  },
  "id": "IDAyGvUZJxyoFDSu",
  "tags": []
}