Generate Image via webhook payload.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-content-publish-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        304
      ],
      "id": "646b06ec-c702-46f1-91e9-80d12e4e94d4",
      "name": "Post to Meta Platforms Webhook",
      "webhookId": "4d09ef09-6941-492e-93a2-9dbbfa005ca6"
    },
    {
      "parameters": {
        "content": "## Add the ai nodes for the post text creation and the post image generation also for the hastags\nStore the image in the post for the approval\n",
        "height": 224,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -176
      ],
      "id": "5f9147ce-29af-4b87-9f40-3d99290d97cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "me/accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "9aca7e26-649b-48db-94d6-605e08f8a33e",
      "name": "Facebook Graph Api",
      "credentials": {
        "facebookGraphApi": {
          "id": "mMo00lq3OW8FmHiQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.data[0].id }}/photos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Get Post').item.json.image_url }}\",\n  \"caption\": \"{{ $('Switch').item.json.hook }}\\n\\n{{ $('Switch').item.json.post }}\\n\\n{{ $('Switch').item.json.hashtags.join(' ') }}\\n\\nWatch here: {{ $('Switch').item.json.link }}\",\n  \"published\": true,\n\"access_token\":\"{{ $json.data[0].access_token }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        464
      ],
      "id": "fa7a9526-e6f5-45c5-bc07-31b66a7a4d76",
      "name": "Post with image to facebook page"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841478709256156",
        "edge": "media",
        "options": {
          "queryParametersJson": "={\n\"image_url\":\"{{ $('Get Post').item.json.image_url }}\",\n  \"caption\": \"{{ $json.hook }}\\n\\n{{ $json.post }}\\n\\n{{ $json.hashtags.join(' ') }}\",\n  \"node\":\"17841478709256156\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        464,
        256
      ],
      "id": "75acdfca-73e9-40a8-9530-4f6b1fd57972",
      "name": "Create image container id for instagram",
      "credentials": {
        "facebookGraphApi": {
          "id": "mMo00lq3OW8FmHiQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "17841478709256156",
        "edge": "media_publish",
        "options": {
          "queryParametersJson": "={\n\"creation_id\":\"{{ $json.id }}\"\n}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "deb4ce56-a9ac-4e7e-a2c1-8c334e4fd624",
      "name": "publish to instagram",
      "credentials": {
        "facebookGraphApi": {
          "id": "mMo00lq3OW8FmHiQ",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "Instagram simple post to instagram\n",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        176
      ],
      "id": "1b24c0d8-4497-488f-96a8-065ed3451097",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "facebook simple post to facebook\n\n",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        400
      ],
      "id": "d12e0e34-98e9-4144-85a6-97229a40f092",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Article Title: {{ $json.title }}\nArticle Content: {{ $json.content }}\n\nWrite the social media post using only the content above. Do not add anything that is not in the article."
            },
            {
              "content": "=You are a professional social media copywriter specializing in technology and developer content.\n\nYour only job is to convert a tech news article into a short, high-performing social media post.\n\n---\n\nCRITICAL CONTENT RULE:\nUse only the information provided in the article. Do not add context, assumptions, opinions, or facts that are not explicitly stated in the input. If the article does not mention something, do not include it.\n\n---\n\nPOST STRUCTURE — follow this exact order:\n\n1. HOOK (first line): The single sentence a person sees before clicking \"more.\" It must create curiosity or urgency without giving everything away. No generic openers like \"Exciting news\" or \"Did you know.\"\n2. BODY (one to two sentences): Deliver the key insight or takeaway directly from the article. Be specific. No filler words.\n3. CALL TO ACTION (optional, one short line): Only include if it feels natural and is supported by the article content — example: \"Worth keeping an eye on.\"\n\n---\n\nRULES — follow every rule without exception:\n\n1. Total post length: 35 to 45 words maximum.\n2. No emojis.\n3. Do not repeat the article title word for word.\n4. Write in a direct, intelligent tone — not hype, not corporate.\n5. Exactly 2 hashtags. Make them specific to the article topic, not generic (avoid #tech #news).\n6. Return only valid JSON. No extra text, no markdown, no explanation outside the JSON block.\n\n---\n\nOUTPUT FORMAT:\n\n{\n  \"hook\": \"first line of the post\",\n  \"post\": \"full post text including the hook\",\n  \"hashtags\": [\"#tag1\", \"#tag2\"]\n}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -400,
        304
      ],
      "id": "0cdc4be6-4d81-4ced-a203-6e29187eaf16",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "IGMWc0W5VnRRGxLb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ai = JSON.parse($input.first().json.message.content);\nconst link = $('Get Post').first().json.link;\n$('Post to Meta Platforms Webhook').first().json.body\nreturn [{\n  hook:ai.hook,\n  post: ai.post.trim(),\n  hashtags: ai.hashtags,\n  link: link\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        304
      ],
      "id": "2ea4f4a9-cea1-4552-bdae-899e070260fb",
      "name": "Format the return output"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        304
      ],
      "id": "382c68c5-55da-4f57-88e7-a742a79a78a3",
      "name": "Get Post",
      "credentials": {
        "supabaseApi": {
          "id": "0SIXHXBmY0xcmGP4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Post to Meta Platforms Webhook').first().json.body.platforms.includes('instagram') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "ea1a6cdf-8b77-4fa5-a115-fc24f66d2971"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Send post to Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "931cd3c8-a339-4240-8987-0af3a63392c8",
                    "leftValue": "={{ $('Post to Meta Platforms Webhook').first().json.body.platforms.includes('facebook') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post on Facebook"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        304
      ],
      "id": "cc27d7ca-85ba-4b08-ae50-d4c796f48d8b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "published"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        304
      ],
      "id": "915f3c17-c331-41e0-981f-9ac943f8a19a",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "0SIXHXBmY0xcmGP4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-and-store-image-to-db",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1200,
        -32
      ],
      "id": "8bc40563-35bf-4d54-9d64-6ee3497e74df",
      "name": "Generate Image Webhook",
      "webhookId": "4d09ef09-6941-492e-93a2-9dbbfa005ca6"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.body.postId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1008,
        -32
      ],
      "id": "34b915ab-cee7-4bd6-894d-57117b6728d7",
      "name": "Get Post From the db",
      "credentials": {
        "supabaseApi": {
          "id": "0SIXHXBmY0xcmGP4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "=You are a professional AI image prompt engineer specializing in technology and developer content.\n\nYour only job is to generate one precise image generation prompt based on the article data provided.\n\n---\n\nARTICLE INPUT:\nTitle: {{ $json.title }}\nSummary: {{ $json.content }}\n\n---\n\nPROMPT RULES — follow every rule without exception:\n\n1. ONE subject only. Choose the single strongest visual idea from the article. Do not combine multiple concepts.\n2. No text, no logos, no signs, no words inside the image.\n3. No cluttered backgrounds. Use solid, gradient, or bokeh backgrounds only.\n4. Photorealistic style. Clean studio lighting. Sharp focus on the subject.\n5. Color palette: deep navy, electric blue, violet, with one neon accent (cyan or green).\n6. Human element allowed only if it directly strengthens the concept — example: a developer's hands on a keyboard, a silhouette at a monitor. Never add people just to fill space.\n7. Keep the composition to a maximum of two focal elements.\n8. End every prompt with exactly this suffix: 8K resolution, ultra-sharp focus, professional photography, cinematic depth of field, no watermark.\n\n---\n\nDo not add explanations, comments, captions, or any text outside the IMAGE_PROMPT line.",
        "options": {
          "size": "1024x1024"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -800,
        -32
      ],
      "id": "3bfa2e1d-4332-4e81-86f4-6520f8ed3d81",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "IGMWc0W5VnRRGxLb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        -592,
        -32
      ],
      "id": "4c679903-f997-4be2-b38a-4c7cba9f7079",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "6jT3qd7ZjBNHO2Dn",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Post From the db').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "approved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "18bfcb58-bb91-4777-9240-b7f4d2f17386",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "0SIXHXBmY0xcmGP4",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Post to Meta Platforms Webhook": {
      "main": [
        [
          {
            "node": "Get Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph Api": {
      "main": [
        [
          {
            "node": "Post with image to facebook page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create image container id for instagram": {
      "main": [
        [
          {
            "node": "publish to instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format the return output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format the return output": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create image container id for instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Graph Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Webhook": {
      "main": [
        [
          {
            "node": "Get Post From the db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post From the db": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Post to Meta Platforms Webhook": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "node",
          "content-length": "105",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "authorization": "Bearer supersecret1234",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "175.107.223.86",
          "cf-ipcountry": "PK",
          "cf-ray": "9daf150e0b6721ea-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "94c279d4-ac4c-4f1c",
          "sec-fetch-mode": "cors",
          "true-client-ip": "175.107.223.86",
          "x-forwarded-for": "175.107.223.86, 172.70.142.70, 10.20.70.9",
          "x-forwarded-proto": "https",
          "x-request-start": "1773279536395040"
        },
        "params": {},
        "query": {},
        "body": {
          "postId": "0a941086-e9fb-422d-8d95-62b09847b92e",
          "action": "publish",
          "platforms": [
            "instagram",
            "facebook"
          ]
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/post-content-publish-webhook",
        "executionMode": "production"
      }
    ],
    "Generate Image Webhook": [
      {
        "headers": {
          "host": "my-automation-4j0i.onrender.com",
          "user-agent": "node",
          "content-length": "75",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "authorization": "Bearer undefined",
          "cdn-loop": "cloudflare; loops=1",
          "cf-connecting-ip": "34.239.139.229",
          "cf-ipcountry": "US",
          "cf-ray": "9dbf9b118fee82ce-SIN",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "content-type": "application/json",
          "render-proxy-ttl": "4",
          "rndr-id": "4284b429-f30d-4c33",
          "sec-fetch-mode": "cors",
          "true-client-ip": "34.239.139.229",
          "x-forwarded-for": "34.239.139.229, 162.158.162.54, 10.16.225.196",
          "x-forwarded-proto": "https",
          "x-invocation-id": "bom1::6fqbs-1773452797494-0eb0e75e39d8",
          "x-request-start": "1773452797848654",
          "x-vercel-id": "bom1::6fqbs-1773452797494-0eb0e75e39d8"
        },
        "params": {},
        "query": {},
        "body": {
          "postId": "0a941086-e9fb-422d-8d95-62b09847b92e",
          "action": "generate_image"
        },
        "webhookUrl": "https://my-automation-4j0i.onrender.com/webhook/generate-and-store-image-to-db",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5fb562ea0f9026abe7e8f315ec46894e8801411ce3db851fdbe45168e485acda"
  }
}
