automation/n8n_production_workflow.json
{
  "name": "Faceless YouTube Shorts Conveyor (Production)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                0
              ]
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "your_google_sheet_id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        300,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_creds_id",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"\u0422\u044b \u044d\u043a\u0441\u043f\u0435\u0440\u0442 \u043f\u043e \u0443\u0434\u0435\u0440\u0436\u0430\u043d\u0438\u044e \u0432\u043d\u0438\u043c\u0430\u043d\u0438\u044f \u0432 YouTube Shorts \u043d\u0430 \u0430\u0443\u0434\u0438\u0442\u043e\u0440\u0438\u044e \u0421\u0428\u0410/UK. \u041d\u0438\u0448\u0430: '\u0418\u043d\u0436\u0435\u043d\u0435\u0440\u043d\u044b\u0435 \u043a\u0430\u0442\u0430\u0441\u0442\u0440\u043e\u0444\u044b \u0438 \u0444\u0435\u0439\u043b\u044b \u0438\u0441\u0442\u043e\u0440\u0438\u0438'. \u0422\u0435\u043c\u0430: '\" + $json.Topic + \"'. \u041d\u0430\u043f\u0438\u0448\u0438 \u0441\u0446\u0435\u043d\u0430\u0440\u0438\u0439 \u043d\u0430 45 \u0441\u0435\u043a\u0443\u043d\u0434. \u041f\u0435\u0440\u0432\u044b\u0435 2 \u0441\u0435\u043a\u0443\u043d\u0434\u044b - \u0436\u0435\u0441\u0442\u043a\u0438\u0439 \u0445\u0443\u043a. \u041d\u0430 25-\u0439 \u0441\u0435\u043a\u0443\u043d\u0434\u0435 - \u043a\u0443\u043b\u044c\u043c\u0438\u043d\u0430\u0446\u0438\u044f. \u0412 \u043a\u043e\u043d\u0446\u0435 - \u043f\u0440\u0438\u0437\u044b\u0432 \u043f\u043e\u0434\u043f\u0438\u0441\u0430\u0442\u044c\u0441\u044f. \n\n\u0412\u042b\u0412\u0415\u0414\u0418 \u041e\u0422\u0412\u0415\u0422 \u0421\u0422\u0420\u041e\u0413\u041e \u0412 \u0424\u041e\u0420\u041c\u0410\u0422\u0415 JSON, \u0431\u0435\u0437 \u043c\u0430\u0440\u043a\u0434\u0430\u0443\u043d\u0430 \u0438 \u043b\u0438\u0448\u043d\u0435\u0433\u043e \u0442\u0435\u043a\u0441\u0442\u0430:\n{\n  \\\"script\\\": \\\"\u0422\u0435\u043a\u0441\u0442 \u0434\u043b\u044f \u043e\u0437\u0432\u0443\u0447\u043a\u0438 (\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439)\\\",\n  \\\"prompts\\\": [\\\"\u043f\u0440\u043e\u043c\u043f\u0442 1\\\", \\\"\u043f\u0440\u043e\u043c\u043f\u0442 2\\\", \\\"\u043f\u0440\u043e\u043c\u043f\u0442 3\\\"],\n  \\\"meta\\\": {\\\"tags\\\": [\\\"tag1\\\", \\\"tag2\\\"], \\\"description\\\": \\\"\u043e\u043f\u0438\u0441\u0430\u043d\u0438\u0435\\\"},\n  \\\"CapCut_AI_Instructions\\\": {\n    \\\"voice_settings\\\": \\\"\u0414\u0438\u043d\u0430\u043c\u0438\u0447\u043d\u044b\u0439 \u0430\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u0441\u043a\u0438\u0439 \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439, \u043c\u0443\u0436\u0441\u043a\u043e\u0439 \u0433\u043b\u0443\u0431\u043e\u043a\u0438\u0439 \u0433\u043e\u043b\u043e\u0441 (\u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, 'Energetic Male')\\\",\n    \\\"captions_style\\\": \\\"\u0414\u0438\u043d\u0430\u043c\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u0441\u0443\u0431\u0442\u0438\u0442\u0440\u044b, \u0441\u0442\u0438\u043b\u044c 'Pro' \u0441 \u0436\u0435\u043b\u0442\u044b\u043c \u0432\u044b\u0434\u0435\u043b\u0435\u043d\u0438\u0435\u043c \u0442\u0435\u043a\u0443\u0449\u0435\u0433\u043e \u0441\u043b\u043e\u0432\u0430, \u043a\u0440\u0443\u043f\u043d\u044b\u0439 \u0436\u0438\u0440\u043d\u044b\u0439 \u0448\u0440\u0438\u0444\u0442 (Montserrat Black)\\\",\n    \\\"timeline_markers\\\": [\\\"\u0421\u043c\u0435\u043d\u0430 \u043a\u0430\u0434\u0440\u0430 \u043d\u0430 0:02 (\u043f\u043e\u0441\u043b\u0435 \u0445\u0443\u043a\u0430)\\\", \\\"\u0411\u044b\u0441\u0442\u0440\u0430\u044f \u043d\u0430\u0440\u0435\u0437\u043a\u0430 \u0441 0:25 \u0434\u043e 0:30 (\u043a\u0443\u043b\u044c\u043c\u0438\u043d\u0430\u0446\u0438\u044f)\\\"]\n  }\n}\"}]}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Gemini API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini_api_header_auth",
          "name": "Gemini API Auth (x-goog-api-key)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  // Clean potential markdown blocks like ```json ... ```\n  let rawStr = $input.item.json.data.candidates[0].content.parts[0].text;\n  rawStr = rawStr.replace(/^```json\\n/, '').replace(/\\n```$/, '');\n  \n  const parsed = JSON.parse(rawStr);\n  return { json: parsed };\n} catch (error) {\n  throw new Error('Failed to parse Gemini output as JSON: ' + error.message);\n}"
      },
      "name": "Clean and Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shorts/{{$json.meta.tags[0]}}_{{Date.now()}}.json",
        "dataPropertyName": "json",
        "options": {}
      },
      "name": "Local File System",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "your_telegram_chat_id",
        "text": "={{ '\u0412\u043d\u0438\u043c\u0430\u043d\u0438\u0435! \u041e\u0448\u0438\u0431\u043a\u0430 \u0432 \u043a\u043e\u043d\u0432\u0435\u0439\u0435\u0440\u0435 Shorts:\\n' + $json.error.message }}"
      },
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        300,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot_creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "prompts",
        "options": {}
      },
      "name": "Split Prompts",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8188/prompt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ { \"3\": { \"inputs\": { \"seed\": Math.floor(Math.random() * 10000000000), \"steps\": 4, \"cfg\": 1.0, \"sampler_name\": \"euler\", \"scheduler\": \"simple\", \"denoise\": 1.0, \"model\": [ \"11\", 0 ], \"positive\": [ \"6\", 0 ], \"negative\": [ \"7\", 0 ], \"latent_image\": [ \"5\", 0 ] }, \"class_type\": \"KSampler\", \"_meta\": { \"title\": \"KSampler\" } }, \"5\": { \"inputs\": { \"width\": 1080, \"height\": 1920, \"batch_size\": 1 }, \"class_type\": \"EmptyLatentImage\", \"_meta\": { \"title\": \"Empty Latent Image\" } }, \"6\": { \"inputs\": { \"text\": $json[\"prompts\"], \"clip\": [ \"12\", 0 ] }, \"class_type\": \"CLIPTextEncode\", \"_meta\": { \"title\": \"CLIP Text Encode (Prompt)\" } }, \"7\": { \"inputs\": { \"text\": \"\", \"clip\": [ \"12\", 0 ] }, \"class_type\": \"CLIPTextEncode\", \"_meta\": { \"title\": \"CLIP Text Encode (Prompt)\" } }, \"8\": { \"inputs\": { \"samples\": [ \"3\", 0 ], \"vae\": [ \"10\", 0 ] }, \"class_type\": \"VAEDecode\", \"_meta\": { \"title\": \"VAE Decode\" } }, \"9\": { \"inputs\": { \"filename_prefix\": \"ComfyUI_Flux_\" + Date.now(), \"images\": [ \"8\", 0 ] }, \"class_type\": \"SaveImage\", \"_meta\": { \"title\": \"Save Image\" } }, \"10\": { \"inputs\": { \"vae_name\": \"ae.sft\" }, \"class_type\": \"VAELoader\", \"_meta\": { \"title\": \"Load VAE\" } }, \"11\": { \"inputs\": { \"unet_name\": \"flux1-schnell-fp8.safetensors\", \"weight_dtype\": \"fp8_e4m3fn\" }, \"class_type\": \"UNETLoader\", \"_meta\": { \"title\": \"Load Diffusion Model\" } }, \"12\": { \"inputs\": { \"clip_name1\": \"t5xxl_fp8_e4m3fn.safetensors\", \"clip_name2\": \"clip_l.safetensors\", \"type\": \"flux\" }, \"class_type\": \"DualCLIPLoader\", \"_meta\": { \"title\": \"DualCLIPLoader\" } } } }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to ComfyUI (Localhost)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "name": "Wait for ComfyUI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "webhookId": "wait-node-id-12345"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "Batch generation complete. Images ready for CapCut."
            }
          ]
        },
        "options": {}
      },
      "name": "Final Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gemini API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API Request": {
      "main": [
        [
          {
            "node": "Clean and Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Parse JSON": {
      "main": [
        [
          {
            "node": "Local File System",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Prompts": {
      "main": [
        [
          {
            "node": "Send to ComfyUI (Localhost)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to ComfyUI (Localhost)": {
      "main": [
        [
          {
            "node": "Wait for ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for ComfyUI": {
      "main": [
        [
          {
            "node": "Final Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faceless-production-v2"
}